# =========================================
# Runtime (embeddable python / deployed files)
# =========================================
runtime/*
!runtime/certs/
runtime/certs/*
!runtime/certs/cacert.pem
!runtime/python/
runtime/python/*
!runtime/python/.gitkeep
logs/runtime/python/ 
